body {
  background: #ad000e;
  padding: 20px;
  font-family: Helvetica;
}

button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.2s;
  justify-content: space-around;
  margin-top: 25px;
}

.elementos {
  margin-top: 10px;
  width: min-content;
}

.elementos img {
  height: 150px;
  width: 150px;
}

p{
  font-size: small;
}